<div class='navbar-content-container'>
  <div class='website-owner'>
    <p><b>Alexandre MAAT</b></p>
    <p>Avocat à la Cour</p>
  </div>
  <div class='navigation'>
    <app-navlink [label]="'Droit des victimes'" [route]="'droit-des-victimes'"/>
    <app-navlink [label]="'Droit civil'" [route]="'droit-civil'"/>
    <app-navlink [label]="'Cabinet'" [route]="'cabinet'"/>
    <app-navlink [label]="'Honoraires'" [route]="'fee'"/>
  </div>
  <div class='contact'>
    <a class="fake-button"><b>Contact</b></a>
  </div>
</div>
